$pink: #ff3946;
$steel: #314584;
$lightblue: #c3d0d8;
$lightcyan: #f4fafe;

$fz-main: 32px;
$fz-logo: 28px;
$fz-section-title: 28px;
$fz-text: 10px;

$fz-main-vw: 3.3vw;
$fz-logo-vw: 1.5vw;
$fz-section-title-vw: 3vw;
$fz-text-vw: 1vw;