@import '../..//scss/mixins.scss';
@import '../../../assets/fonts/OpenSans/index.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

::-webkit-scrollbar {
    background: transparent;
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar:disabled {
    display: none;
}
::-webkit-scrollbar-thumb  {
    background: $pink;

}

.App {
    height: 100vh;
    width: 100%;
    @include flex(column, center, center);

    & h1 {
        text-align: center;
    }
}