@import '../../../scss/mixins.scss';

.slider__nav {
    @include flex(row, center, center);
    height: 100%;
    padding-right: 20px;

    .slider__input {
        font-size: 18px;
        background: transparent;
        border: 0;
        border-bottom: 2px solid black;
        outline: none;
        text-align: center;

    }
    .slider__input::-webkit-search-decoration,
    .slider__input::-webkit-search-cancel-button,
    .slider__input::-webkit-search-results-button,
    .slider__input::-webkit-search-results-decoration {
        display: none;
    }
    .slider__text {
        font-size: 18px;
        padding: 2px;
    }
}