@import '../../../utils/scss/utils.scss';
@import '../../../assets/fonts/css/fonts.css';

.food-item {
    @include flex(column, flex-start, center, nowrap);

    .food-item__label {
        .food-item__checkbox {
            @include setSize(1px, 1px);
            opacity: 0;
        }
        .food-item__checkbox:focus + .food-item__content {
            border: 0.15vw solid $white;
        }
        .food-item__checkbox:checked + .food-item__content > .button-shape {
            stroke: $violet;
        }
        .food-item__checkbox:disabled + .food-item__content > .button-shape {
            stroke: $grey;
        }
        .food-item__checkbox:checked:disabled + .food-item__content > .button-shape {
            stroke: $grey;
        }
        .food-item__content {
            position: relative;
            background: url(../../../svg.svg);
            border: 0.15vw solid transparent;
            outline: none;
            @extend .font;
            overflow: hidden;

            .button-shape {
                position: relative;
                width: 25vw;
                fill: $lightgrey;
                stroke: $blue;
                stroke-width: 6;
            }
        }

        /* For EDGE */
        .food-item__content_dis .button-shape {
            stroke: $grey;
        }
    }
}

@media (max-width: 992px) {
    .food-item {
        @include flex(column, flex-start, center, wrap);
        flex-basis: 270px;

        .food-item__label {
            .food-item__checkbox:focus + .food-item__content {
                border: 2px solid $white;
            }
            .food-item__content {
                border: 2px solid transparent;
    
                .button-shape {
                    position: relative;
                    @include setSize(370px, 250px);
                }
            }
        }
    }
}