@import '../../utils/scss/utils.scss';

*,
*::before,
*::after {
  @extend .cleaner;
}

.cat-food {
  @include setSize(53vw, 100%);
  background: url(../../assets/img/bg.png) no-repeat center top / cover;
  @include flex(column, center, center, nowrap);

  .cat-food__title {
    color: $white;
    @extend .font;
    font-size: 3vw;
    padding: 2vw 0;
  }
}

.cat-food-content {
  @include setSize(auto, 100%);
  @include flex(row, space-between, center, nowrap);
  padding: 0 6.25vw;
}

@media (max-width: 992px) {
  .cat-food {
    @include setSize(auto, 100%);
    min-height: 526px;
  
    .cat-food__title {
      font-size: 28px;
      padding: 16px 0;
      text-align: center;
    }
  }
  
  .cat-food-content {
    @include setSize(auto, 100%);
    @include flex(row, space-around, center, wrap);
    padding: 0 60px;
  }
}

@media (max-width: 767px) {
  .cat-food-content {
    padding: 0;
  }
}
