@import '../../../../scss/mixins.scss';

.rounded-bg {
    height: 40px;
    @include flex(row, center, center);
    border-radius: 20px;
    background: rgba(0,0,0,0.2);
    padding: 0 20px;
    cursor: pointer;
}