@import '../../../scss/variables.scss';

.slide-right-enter,
.slide-right-appear {
    opacity: 0;
    transform: translateX(20%);
}
.slide-right-enter-active,
.slide-right-appear-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all $slide-switching-speed;
}
.slide-right-exit {
    opacity: 1;
    transform: translateX(0%);

}
.slide-right-exit-active {
    opacity: 0;
    transform: translateX(-20%);
    transition: all $slide-switching-speed / 2;
}

.slide-left-enter,
.slide-left-appear {
    opacity: 0;
    transform: translateX(-20%);
}
.slide-left-enter-active,
.slide-left-appear-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all $slide-switching-speed;
}
.slide-left-exit {
    opacity: 1;
    transform: translateX(0%);
}
.slide-left-exit-active {
    opacity: 0;
    transform: translateX(20%);
    transition: all $slide-switching-speed / 2;
}

.bubble-enter,
.bubble-appear {
    opacity: 0;
    transform: translateY(20%);
}
.bubble-enter-active,
.bubble-appear-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all $slide-switching-speed;
}
.bubble-exit {
    opacity: 1;
    transform: translateY(0%);
}
.bubble-exit-active {
    opacity: 0;
    transform: translateY(20%);
    transition: all $slide-switching-speed / 2;
}