.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    background: #fff;
    z-index: 4;


    .header__logo {
        position: fixed;
        top: 31px;
        left: 50%;
        transform: translateX(-50%);
        font-size: $fz-logo;
        font-weight: bold;
        z-index: 3;
    }
    .header__logo::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 50%;
        height: 6px;
        width: 30px;
        background: $pink;
        transform: translateX(-50%);
    }

    .burger-button {
        position: fixed;
        top: 30px;
        right: 30px;
        height: 30px;
        width: 30px;
        @extend .reset-button-styles;
        @include flex(column, space-between, center);
        z-index: 3;

        .burger-button__item {
            position: absolute;
            left: 0;
            height: 6px;
            width: 30px;
            border-radius: 3px;
            background: #000;
            transform-origin: center;
            transition: 0.5s;
        }

        @for $i from 0 through 2 {
            .burger-button__item_#{$i + 1}_default { 
                top: 12px * $i;
            }

            @if $i < 2 {
                .burger-button__item_#{$i + 1}_active {
                    top: 0;
                    transform: translateY(12px) rotate(45deg);
                    transition: 0.5s;
                }
            }
            @else {
                .burger-button__item_#{$i + 1}_active {
                    top: 0;
                    transform: translateY(12px) rotate(-45deg);
                    transition: 0.5s;
                }
            }
        }
    }

    .header__content {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding-top: 130px;
        background: #fff;
        z-index: 2;

        .menu_header {
            order: 2;
            padding-top: 80px;
            .menu__list {
                list-style: none;

                .menu__item {
                    text-align: center;
                    padding: 5px 0;

                    .menu__link {
                        text-decoration: none;
                        text-transform: capitalize;
                        color: #000;
                    }
                }
            }
        }
        .lang-contact {
            order: 1;
        }
    }
    .header__content_visible {
        @include flex(column, flex-start, center);
    }
}

@media (min-width: 768px) {
    .header {
        height: 8.9vw;
        width: 100%;

        padding: 0 6.4vw;
        @include flex(row, flex-start, center);
    
        .header__logo {
            position: static;
            font-size: $fz-logo-vw;
            transform: translateX(0px);

        }
        .header__logo::before {
            height: 0.31vw;
            width: 1.56vw;
        }
    
        .burger-button {
            display: none;
        }
    
        .header__content {
            position: static;
            height: 4.7vw;
            width: 100%;

            padding-top: 0;
            padding-left: 6vw;
            @include flex(row, flex-start, center);
    
            .menu_header {
                order: 1;
                padding-top: 0vw;
                .menu__list {
                    list-style: none;
                    @include flex(row, space-between, center);
                    width: auto;
    
                    .menu__item {
                        text-align: center;
                        padding: 0 1vw;
    
                        .menu__link {
                            text-decoration: none;
                            text-transform: capitalize;
                            color: $steel;
                            font-size: $fz-text-vw;
                            font-weight: bold;
                        }
                    }
                }
            }
            .lang-contact {
                padding-left: 16.7vw;
                @include flex(row, flex-start, center);
                order: 2;
                .lang {
                    border: 0;
                    width: 5vw;
                    color: $steel;
                    font-size: $fz-text-vw;
                    
                    .lang__option {
                        font-size: $fz-text-vw;
                        background: transparent;
                        width: 5vw;
                    }
                }
                .ml2vw {
                    margin-left: 2vw;
                    .to-contact {
                        @include flex(row, space-between, center);
                        width: 12vw;
                        text-decoration: none;
                        text-transform: initial;
                        font-size: $fz-text-vw;
                        font-weight: bold;
                        color: $pink;
                        padding: 0.8vw 1.6vw;
                        border-radius: 0.4vw;
                        box-shadow: 0 0.2vw 0.5vw 0 rgba(0, 0, 0, 0.2);
                        
                        .arrow {
                            position: relative;

                            .arrow-part_1 {
                                width: 1.5vw;
                                height: 0.15vw;
                                background: $pink;
                            }
                            .arrow-part_sharp {
                                position: absolute;
                                width: 0.8vw;
                                height: 0.15vw;
                                background: $pink;
                                transform-origin: center;
                            }
                            .arrow-part_2 {
                                top: -0.2vw;
                                right: -0.3vw;
                                transform: rotate(45deg);
                            }
                            .arrow-part_3 {
                                top: 0.25vw;
                                right: -0.3vw;
                                transform: rotate(-45deg);
                            }
                        }
                    }
                }
            }
        }
        .header__content_visible {
            display: block;
        }
    }
}
