.mt60 {
    margin-top: 60px;
    .portfolio {
        @include flex(column, flex-start, center);
        .portfolio__title {
            font-size: $fz-section-title;
            color: $steel;
            text-align: left;
            padding: 0 calc((100% - 260px) / 2) 20px;
        }
        .portfolio-list {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 20px;
            row-gap: 20px;
            list-style: none;
            
            .portfolio-item {
                width: 260px;
                height: 200px;
                background: $lightblue;
                justify-self: center;
            }
        }
        .mt36 {
            margin-top: 36px;
            .see-more-button {
                font-size: $fz-text;
                font-weight: bold;
                color: $pink;
                @extend .reset-button-styles;
            }
        }
    }    
}
    
@media (min-width: 768px) {
    .mt60 {
        margin-top: 9vw;
        .portfolio {
            @include flex(column, flex-start, flex-start);
            padding: 0 20vw;
            .portfolio__title {
                font-size: $fz-section-title-vw;
                align-self: flex-start;
                padding: 0;
                width: 24vw;
                margin-bottom: 4vw;
            }
            .portfolio-list {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 1.6vw;
                row-gap: 1.6vw;
                list-style: none;
                
                .portfolio-item {
                    height: 14.6vw;
                    width: 19.3vw;
                    background: $lightblue;
                    justify-self: center;
                }
            }
            .mt36 {
                align-self: center;
                margin-top: 1.7vw;
                .see-more-button {
                    font-size: $fz-text-vw;
                    font-weight: bold;
                    color: $pink;
                }
            }
        }    
    }

}