@import '../../../scss/mixins.scss';

.slider__range {
    @include flex(row, center, center);
    // The code is repeated here because it's impossible
    // to comma-separate these types of selectors.
    // Browsers will drop the entire selector
    // if it doesn’t understand a part of it.
    input[type=range] {
        -webkit-appearance: none;
        padding: 4px;
        border: 2px solid transparent;
        background: transparent;
    }
    input[type=range]:focus {
        outline: none;
        border: 2px solid black;
        padding: 4px;
    }
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        background: #333;
        border-radius: 3px;
    }
    input[type=range]::-webkit-slider-thumb {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background: #224;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -5%;
    }
    input[type=range]::-moz-range-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        background: #333;
        border-radius: 3px;
    }
    input[type=range]::-moz-range-thumb {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background: #224;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -5%;
        border: 0;
    }
    input[type=range]::-ms-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        background: #333;
        border-radius: 3px;
    }
    input[type=range]::-ms-thumb {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background: #224;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -5%;
    }

    .slider__count {
        padding-left: 10px;
    }
}