@import '../../../utils/scss/utils.scss';

.food-item__circle {
    position: absolute;
    bottom: 1.8vw;
    right: 1.8vw;
    @include flex(column, center, center, nowrap);
    @include setSize(6.3vw, 6.3vw);
    @extend .round-off;
    background: $blue;

    .food-item__weight {
        color: $white;
        font-size: 3vw;
        line-height: 3vw;
    }
    
    .font-smaller {
        font-size: 2vw;
        line-height: 2vw;
        color: $white;
    }
    
}
.food-item__circle_sel {
    background: $violet;
}
.food-item__circle_dis {
    background: $grey;
}
.food-item__circle_sel-over {
    background: $lightviolet;
}
.food-item__circle_over {
    background: $lightblue;
}

@media (max-width: 992px) {
    .food-item__circle {
        bottom: 18px;
        right: 18px;
        @include setSize(62px, 62px);
    
        .food-item__weight {
            font-size: 30px;
            line-height: 30px;
        }
        
        .font-smaller {
            font-size: 20px;
            line-height: 20px;
        }
        
    }
}