@import '../../../scss/mixins.scss';

.slider__screen {
    position: relative;
    height: 50vw;
    width: 100%;
}
@media screen and (orientation: landscape) {
    .slider__screen {
        height: 100%;
    }
}