@import '../../../scss/mixins.scss';

.slider__infinite {
    @include flex(row, center, center);
    background: transparent;
    border: 2px solid transparent;
    padding: 0;
    outline: none;
    padding: 2px;
    border-radius: 5px;

    &:focus {
        border: 2px solid transparent;
    }
    &:hover {
        background: transparent;
    }
}

@media (any-hover: hover) and (pointer: fine) {
    .slider__infinite {
        &:focus {
            border: 2px solid black;
        }
        &:hover {
            background: $dark;
        }
    }
}