@import '../../../utils/scss/utils.scss';

.food-item__description {
    font-size: $small;
    @extend .font;
    padding: 0.8vw 0;
    color: $white;

    .link_blue {
        color: $blue;
        border-bottom: 1px dotted $blue;
    }
}

@media (max-width: 992px) {
    .food-item__description {
        font-size: 12px;
        padding: 8px 0;
    }
}