@import '../../../utils/scss/utils.scss';

.food-item__description {
    font-size: 1.2vw;
    @extend .font;
    padding: 0.8vw 0;
    color: $white;

    .food-item__buy {
        background: transparent;
        border: 0;
        @extend .font;
        font-size: inherit;
    }

    .link_blue {
        color: $blue;
        border-bottom: 1px dotted $blue;
    }
}

@media (max-width: 992px) {
    .food-item__description {
        font-size: 12px;
        padding: 8px 0;
    }
}